{% extends "base_table.html" %}

{% block extra_head %}
<style type="text/css">
  pre { clear: right; }
</style>
{% endblock %}

{% block extra_scripts %}{% include "query_scripts.html" %}{% endblock %}

{% block query_tab_class %} active{% endblock %}

{% block inner_content %}
  <div class="d-flex justify-content-between align-items-center mb-2">
    <h3 class="mb-0">Query</h3>
    <a class="small" href="#" id="toggleTableInfo">+/- table definition</a>
  </div>
  <div id="tableInfo">
    {{ table_sql|format_create_table|highlight }}
  </div>
  {% set sql_textarea_id = 'table-sql' %}
  {% include "query_form.html" %}
  <hr />

  <div id="query-results" aria-live="polite">
    {% include "query_results.html" %}
  </div>
  {% include "query_modals.html" %}
{% endblock %}
